{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Contest List</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'contests/css/materialize.min.css' %}"/>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static 'contests/css/style.css' %}"/>
	<script type="text/javascript" src="{% static 'contests/js/jquery-3.1.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'contests/js/materialize.min.js' %}"></script>

	
	<script type="text/javascript">
		{% block javascript %}{% endblock %}
	</script>
	
</head>
<body>
	<header>
		<div class="row"  style="padding:1%;border-color:#800000;border-top-width:5px;border-bottom-width:5px;border-right-width:0px;border-left-width:0px;border-style:solid;margin-bottom:0px">		
		</div>
	</header>
	<main style="padding:1%">
		{% block content %}{% endblock %}
	</main>

</body>
</html>
